*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties*/

:root {
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Roboto Slab', serif;

    --fw-reg: 400;
    --fw-bold: 700;

    --clr-light: #FFFFFB;
    --clr-dark: #303030;
    --clr-accent: #5B5F97;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html {
  scroll-behavior:smooth;
}

body {
  background:var(--clr-light);
  color:var(--clr-dark);
  margin:0;
  font-family:var(--ff-primary);
  font-size:var(--fs-body);
  line-height:1.6}

section {
  padding:5em 2em;
}

img {
  display:block;
  max-width:100%;
}

strong {
  font-weight:var(--fw-bold);
  }

hr {
    width: 100%;
    color: gray;
  }

:focus{
  outline:3px solid var(--clr-accent);
  outline-offset:3px;
}

.btn {
  display:inline-block;
  padding:.5em 2.5em;
  background:var(--clr-accent);
  color:#fff;
  text-decoration:none;
  cursor:pointer;
  font-size:.8rem;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:var(--fw-bold);
  transition:transform .2s ease-in-out;
  font-size:1rem;
}

.btn:hover {
  transform:scale(1.1);
}

h1,h2,h3 {
    line-height:1;
    margin:0;
  }

h1 {
  font-size:var(--fs-h1);
}

h2 {
  font-size:var(--fs-h2);
}

h3 {
  font-size:var(--fs-h3);
}

.section__title {
  margin-bottom:.25em;
}

.section__title--intro {
  font-weight:var(--fw-reg);
}

.section__title--intro strong {
  display:block;
}

.section__subtitle {
  margin:0;
  font-size:var(--fs-h3);
  color:#fff;
}

.section__subtitle--about,.section__subtitle--intro {
  background:var(--clr-accent);
  padding:.25em 1em;
  font-family:var(--ff-secondary);
  margin-bottom:1em;
}

.section__subtitle--work {
  color:var(--clr-accent);
  font-weight:var(--fw-bold);
  margin-bottom:2rem;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  padding: 1em;
  text-align: center;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 15em;
  height: 30em;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color:  var(--clr-light);
;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
  list-style-type: none;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#menu a {
  text-decoration: none;
  color: var(--clr-accent);
  font-weight: bold;
  font-size: 1.25em;
}

#menu a:hover {
  text-decoration: underline;
}

#menu a:focus {
  outline: 0;
  border: none;
}

.intro {
  position:relative;
}

.intro__img {
  box-shadow:var(--bs);
  z-index: -10;
}

.section__subtitle--intro {
  display:inline-block;
  }

@media (min-width:600px) {
.intro {
  display:grid;
  width:min-content;
  margin:0 auto;
  grid-column-gap:1em;
  grid-template-areas:"img title" "img subtitle";
  grid-template-columns:min-content max-content;
}

.intro__img {
  grid-area:img;
  min-width:250px;
  position:relative;
  z-index:2;
}

.section__subtitle--intro {
  align-self:start;
  grid-column:-1/1;
  grid-row:2;
  text-align:right;
  position:relative;
  left:-1.5em;
  width:calc(100% + 1.5em);
  }
}

.my-services {
  background-color:var(--clr-dark);
  background-image:url(https://maya-jade.github.io/img/services-bg.jpg);
  background-size:cover;
  color:var(--clr-light);
  text-align:center;
}

.section__title--services {
  color:var(--clr-accent);
  position:relative;
}

.section__title--services::after {
  content:'';
  display:block;
  width:2em;
  height:1px;
  margin:.5em auto 1em;
  background:var(--clr-light);
  opacity:.25;
}

.services {
  margin-bottom:4em;
  }

.service {
  max-width:500px;
  margin:0 auto;
}

@media (min-width:800px){

.services {
  display:flex;
  max-width:1000px;
  margin-left:auto;
  margin-right: auto;
}

.service+.service {
  margin-left:2em;
}
}

.about-me {
  max-width:1000px;
  margin:0 auto;
}

.about-me__img {
  box-shadow:var(--bs);
}

@media (min-width:600px) {

.about-me {
  display:grid;
  grid-template-columns:1fr 200px;
  grid-template-areas:"title img" "subtitle img" "text img";
  grid-column-gap:2em;
}
.section__title--about {
  grid-area:title;
}

.section__subtitle--about {
  grid-column:1/-1;
  grid-row:2;
  position:relative;
  left:-1em;
  width:calc(100% + 2em);
  padding-left:1em;
  padding-right:calc(200px + 4em);
}

.about-me__img {
  grid-area:img;
  position:relative;
  z-index:2
}
}

#work {
  background-color:var(--clr-dark);
  color:var(--clr-light);
  text-align:center
}

.workh3 {
  margin-top: 1em;
}

.slideshow-container {
  max-width:1000px;
  position:relative;
  margin:auto;
  height:auto;
  margin-top:2em;
}

.slideshow-container img {
  height:500px;
}

@media (max-width: 1090px) {
  .slideshow-container {
    display: none;
  }

  .mobile-work {
    background-color: var(--clr-dark);
  }

  .mobile-work p {
    text-align: center;
    color: white;
    font-size: 1em;
  }

  .mobile-work p:first-of-type {
  margin-top: 0;
  }

  .mobile-work img {
    padding: 1em;
  }
}

@media (min-width: 1089px) {
  .mobile-work {
    display: none;
  }
}

.mySlides {
  display:none;
}

.next,.prev {
  cursor:pointer;
  position:absolute;
  top:50%;
  width:auto;
  margin-top:-22px;
  padding:16px;
  color:#fff;
  font-weight:700;
  font-size:18px;
  transition:.6s ease;
  border-radius:0 3px 3px 0;
  user-select:none;
}

.next {
  right:0;
  border-radius:3px 0 0 3px;
}

.prev {
  left:0;
  border-radius:3px 0 0 3px;
}

.next:hover,.prev:hover {
  background-color:rgba(0,0,0,.8);
}

.numbertext {
  color:#f2f2f2;
  font-size:12px;
  padding:8px 12px;
  position:absolute;top:0;
}

.dot {
  cursor:pointer;
  height:15px;
  width:15px;
  margin:0 2px;
  background-color:#bbb;
  border-radius:50%;
  display:inline-block;
  transition:background-color .6s ease;
}

.dot:hover {
  background-color:#717171;
}

.fade {
  -webkit-animation-name:fade;
  -webkit-animation-duration:1.5s;
  animation-name:fade;
  animation-duration:1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity:.4;
    }
  to {
    opacity:1;
  }
}

@keyframes fade {
  from {
    opacity:.4;
    }
  to {
    opacity:1;
  }
  }

.footer {
  background:#111;
  color:var(--clr-accent);
  text-align:center;
  padding:2.5em 0;
  font-size:var(--fs-h3);
}

.footerheader {
  color:#fff;
}

.footer a {
  color:inherit;
  text-decoration:none;
}

.footer__link {
  font-weight:var(--fw-bold);
}

.footer__link:hover,.social-list__link:hover {
  opacity:.7;
}

.footer__link:hover {
  text-decoration:underline;
}

.social-list {
  list-style:none;
  display:flex;
  justify-content:center;
  margin:2em 0 0;
  padding:0;
}

.social-list__item {
  margin:0 .5em;
}

.social-list__link {
  padding:.5em;
}
